.body {
    margin: 0;
    color: var(--primary-text-color);
    font-family: 'Source Code Pro', monospace;
    background-image: url(/public//cheems-meme.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}